.photo-item {
  clear: both;
  overflow: hidden;
  padding-bottom: 1em;
}

.photo-bubble{
  padding-top: 1em;
}


.photo-text{
  float: left;
  padding: 1em;
}
.photo-date{
  float: right;
  padding: 1em;
  // background-color: #7fded2;
}