<!DOCTYPE html>
<html>
  {% include head.html %}

<body>
{% include header.html %}

<div class=post-wrapper">
  <div class="post-container">
    {% if page.gallery %}
    <div class="gallery-two-column">
      {% for item in page.gallery %}
      <div class="gallery-item">
        {% if item.youtube_id %}
        <div class="gallery-video">
          <iframe src="https://www.youtube.com/embed/{{ item.youtube_id }}" frameborder="0" allowfullscreen></iframe>
        </div>
        {% else %}
        <div class="gallery-image">
          <img src="{{ item.image_path }}" alt="{{ item.caption }}">
        </div>
        {% endif %}
        <div class="gallery-caption">{{ item.caption }}</div>
      </div>
      {% endfor %}
    </div>
    {% endif %}

    <h1 class="post-title">{{ page.title }}</h1>    
    {{ content }}
  </div>
</div>

{% include footer.html %}
{% include foot.html %}
</body>
</html>